* {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
	display: grid;
  justify-content: center;
  border: 50px;
  margin: 50px;
}

h1 {
	text-align: center;
  color: #e76f51;
}

img {
	max-width: 1000px;
	max-height: 1000px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.content {
  display: flex;
}

button{
  background-color: #2a9d8f;
}